<header class="header">
  <nav class="nav">
    <div class="sec-nav-logo">
      <div class="logo-container">
        <a class="logo">
          <img class="profile-img" src="../../../assets/img/profile.jpg" alt="img-profile">
          <span class="name">David Bernal</span>
        </a>
      </div>
    </div>

    <div class="sec-nav-menu">
      <ul class="nav-menu">
        <li>
          <a class="nav-link">inicio</a>
        </li>
        <li>
          <a class="nav-link">galería</a>
        </li>
        <li>
          <a  class="nav-link">sobre mi</a>
        </li>
        <li>
          <a class="nav-link">
            <span class="item-text">mi cv</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="sec-nav-social">
      <div class="logo-container">
        <a class="logo">
          <div class="theme-icon">
            <i class="pi pi-moon"></i>
          </div>
          <div class="theme-icon">
            <i class="pi pi-github"></i>
          </div>
          <div class="theme-icon">
            <i class="pi pi-linkedin"></i>
          </div>

        </a>
      </div>
    </div>

  </nav>
</header>
