.header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(39, 39, 42, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.header:hover {
  border-bottom: 1px solid #27272a;
}

.nav {
  padding: 0 4rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-down 0.25s;
}

.sec-nav-logo,
.sec-nav-menu,
.sec-nav-social {
  width: 33.333%;
}

.sec-nav-social {
  display: flex;
  justify-content: flex-end;
}

.sec-nav-logo {
  display: flex;
  justify-content: flex-start;
}

.logo-container {
  height: 33px;
}

.logo,
.nav-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.profile-img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  color: #eeeeee;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.25s;
}

.name:hover {
  color: rgb(96, 165, 250);
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
}

.nav-menu li {
  cursor: pointer;
}

.lh {
  margin-left: 10px;
  border-left: 1px solid #27272a;
}

.nav-link {
  border-radius: 6px;
  height: 33px;
  border: 1px solid rgba(39, 39, 42, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.1);
  color: #eeeeee;
  padding: 5px 10px;
  transition: border-color 0.5s;
}

.nav-link:hover,
.theme-icon:hover {
  border-bottom: 1px solid rgb(96, 165, 250);
}

.nav-link.active,
.theme-icon.active,
.nav-link:active,
.theme-icon:active {
  border: 1px solid #27272a;
  border-bottom: 1px solid rgb(96, 165, 250);
  background-color: #09090b;
  color: rgb(96, 165, 250);
}

.name.active{
  color: rgb(96, 165, 250)
}

.theme-icon {
  border: 1px solid rgba(39, 39, 42, 0);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  transition: border-color 0.5s;
}

.i-home {
  margin-left: 0px;
  margin-right: 10px;
}

@keyframes fade-down {
  0%{
    opacity: 0;
    transform: translateY(-30px) scale(0.9);


  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
