<header class="header">
  <nav class="nav">
    <div class="sec-nav-logo">
      <div class="logo-container">
        <a class="logo">
          <div class="theme-icon i-home">
            <i class="pi pi-home"></i>
          </div>
          <span class="name">Portfolio 2024</span>
        </a>
      </div>
    </div>

    <div class="sec-nav-menu">
      <ul class="nav-menu">
        <li>
          <a class="nav-link">galería</a>
        </li>
        <li>
          <a  class="nav-link">sobre mi</a>
        </li>
        <li>
          <a class="nav-link">mi cv</a>
        </li>
      </ul>
    </div>

    <div class="sec-nav-social">
      <div class="logo-container">
        <a class="logo">
          <div class="theme-icon">
            <i class="pi pi-github"></i>
          </div>
          <div class="theme-icon">
            <i class="pi pi-linkedin"></i>
          </div>
          <div>
            <i class="lh"></i>
          </div>
          <div class="theme-icon">
            <i class="pi pi-moon"></i>
          </div>

        </a>
      </div>
    </div>

  </nav>
</header>
