<header class="header">
  <nav class="nav">
    <div class="sec-nav-logo">
      <div class="logo-container">
        <a class="logo">
          <div class="theme-icon i-home" routerLink="/home" routerLinkActive="active">
            <span class="pi pi-home"></span>
          </div>
          <span class="name" routerLink="/home"  routerLinkActive="active">Portfolio 2024</span>
        </a>
      </div>
    </div>

    <div class="sec-nav-menu">
      <ul class="nav-menu">
        <li >
          <a class="nav-link">about me</a>
        </li>
        <li>
          <a  routerLink="/gallery" routerLinkActive="active" class="nav-link">gallery</a>
        </li>
        <li>
          <a class="nav-link">my cv</a>
        </li>
      </ul>
    </div>

    <div class="sec-nav-social">
      <div class="logo-container">
        <a class="logo">
          <div class="theme-icon">
            <i onclick="location.href='https://github.com/Vocalpixel'" class="pi pi-github"></i>
          </div>
          <div class="theme-icon">
            <i onclick="location.href='https://www.linkedin.com/in/isaac-david-bernal-chirino/'" class="pi pi-linkedin"></i>
          </div>
          <div>
            <i class="lh"></i>
          </div>
          <div class="theme-icon">
            <i class="pi pi-moon"></i>
          </div>

        </a>
      </div>
    </div>

  </nav>
</header>
