<div class="main">
  <div class="sec1">
    <div class="contText">
      <div class="hl-text">
        <h2>
          Desarrollo Websites <br> y Creo Assets 3D
        </h2>
        <div class="handImg"></div>
      </div>
      <p>
        Graduado de la Universidad Politécnica de Pachuca, me especializo en la creación de sitios web y assets 3D
        utilizando Blender.
      <p>
      <div class="secButtons">
        <button>Desccargar CV</button>
      </div>
    </div>

  </div>
  <div class="sec2">
    <div class="contRoom">
      <div class="room" id="h" translate="no">
        <div class="fi">
          <div class="pi_r face"></div>
          <div class="pi_f face"></div>
          <div class="pi_t face"></div>
        </div>
        <div class="pd">
          <div class="pd_r face"></div>
          <div class="pd_f face"></div>
          <div class="pd_t face"></div>
        </div>
        <div class="pw">
          <div class="pw_r face"></div>
          <div class="pw_f face"></div>
          <div class="pw_t face"></div>
        </div>
        <div class="mp">
          <div class="mp_r1 face"></div>
          <div class="mp_f1 face"></div>
          <div class="mp_f2 face"></div>
          <div class="mp_t face"></div>
          <div class="mp_f3 face"></div>
          <div class="mp_r2 face"></div>
        </div>
        <div class="p">
          <div class="p_r face"></div>
          <div class="p_f face"></div>
          <div class="p_t face"></div>
        </div>
        <div class="desk">
          <div class="desk_r face"></div>
          <div class="desk_f face"></div>
          <div class="desk_t face"></div>
          <div class="desk_sh face"></div>
        </div>
        <div class="tv">
          <div class="tv_r face"></div>
          <div class="tv_f face"></div>
          <div class="tv_t face"></div>
          <div class="tv_sh face"></div>
          <div class="tv_li face"></div>
          <div class="tv_b1 face flexbox" (click)="scaleDisplay()">Start</div>
        </div>
        <div class="soon">
          <div class="soon-child">
            <h1>EN PROGRESO</h1>
          </div>
        </div>
        <div class="red-dot"></div>
      </div>
    </div>
  </div>
</div>
