<div class="main">
  <div class="sec1">
    <div class="contText">
      <div class="hl-text">
        <h2>
          Desarrollo Websites <br> y Creo Assets 3D
        </h2>
        <div class="handImg"></div>
      </div>
      <p>
        Graduado de la Universidad Politécnica de Pachuca, me especializo en la creación de sitios web y assets 3D
        utilizando Blender.
      <p>
      <div class="secButtons">
        <button>Descargar CV</button>
      </div>
    </div>

  </div>
  <div class="sec2">

    <app-room style="width: 100%; height: 100%"></app-room>

  </div>
</div>
