@import "primeicons/primeicons.css";

*{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html{
  background-color: #09090b;
}

a{
  text-decoration: none;
  color: #ffffff;
}

body {
  color: #EEEEEE;
}
