<footer class="footer">
  <nav class="nav">
    <div>
      <span class="name">David's Portfolio v1.0 by </span>
      <a class="nameLink">David Bernal</a>
    </div>
    <div class="made-container">
      <span class="madeText">Made with </span>
      <div class="lg-cont">
        <svg class="ng-icon" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 960 960">
          <path d="
          M 562.6,109.8 L 804.1,629.5 L 829.2,233.1 Z
          M 624.9,655.9 L 334.3,655.9 L 297.2,745.8 L 479.6,849.8 L 662,745.8 Z
          M 384.1,539.3 L 575.2,539.3 L 479.6,307 Z
          M 396.6,109.8 L 130,233.1 L 155.1,629.5 Z"
                fill="#d6002f"/>
        </svg>
      </div>
    </div>
  </nav>
</footer>
